{% extends 'base.html' %}
{% block content %}
  <h1>Product List</h1>
  <ul>
    {% for product in products %}
      <li>
        <strong>{{ product.name }}</strong><br>
        Description: {{ product.description }}<br>
        Price: ${{ product.price }}<br>
        {% if product.active_version %}
          Active Version: {{ product.active_version.version_number }} - {{ product.active_version.version_name }}<br>
        {% else %}
          No active version<br>
        {% endif %}
        <a href="{% url 'product_detail' product.pk %}">View details</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}